body {
    padding: 0;
    margin: 0;
}

.card {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: black;
    z-index: 1;
    box-sizing: border-box;
}

.card.selected {
    border: 2px solid red;
}

.card.parentHighlight {
    background-color: #ffff00;
}
.card.childHighlight {
    background-color: #00ffff;
}

.popup {
    position: absolute;
    background-color: green;
    height: 100px;
    width: 100px;
    z-index: 2;
}

#selectionbox {
    position: absolute;
    z-index: 9999;
    top: -10px;
    left: -10px;
    height: 0;
    width: 0;
    border: 1px solid rgba(0,0,255,0.5);
    background-color: rgba(0,0,255,0.2);
    will-change: height,width,top,left;
}
